# Python cache
__pycache__/
*.pyc

# Env
.env

# Virtual env
venv/

# Streamlit
.streamlit/

# Data / models (important for your AI system)
*.csv
*.parquet
models/

# Logs
*.log

# Project SRS & HLD
Documents